<!-- <div class="filters-container">

    <a href="/listings" class="filter-item">
        🔥
        <span>All</span>
    </a>

    <a href="/listings?category=Beach" class="filter-item">
        🏖️
        <span>Beach</span>
    </a>

    <a href="/listings?category=Mountain" class="filter-item">
        ⛰️
        <span>Mountain</span>
    </a>

    <a href="/listings?category=City" class="filter-item">
        🏙️
        <span>City</span>
    </a>

    <a href="/listings?category=Camping" class="filter-item">
        🏕️
        <span>Camping</span>
    </a>

    <a href="/listings?category=Historical" class="filter-item">
        🏛️
        <span>Historical</span>
    </a>

    <a href="/listings?category=Tropical" class="filter-item">
        🌴
        <span>Tropical</span>
    </a>

</div> -->